
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<section class="portfolio" id="portfolio">

    <h1 class="heading"> <span>Services</span> </h1>

    <div class="box-container">

        <div class="box">
            <span>Sale</span>
            <img src="~/images/port-img1.jpg" alt="">
            <div class="content">
                <h3>web design</h3>
                <p>1st may, 2021</p>
                <a href="#" class="btn" style="text-align:center; width:150px">Order Now</a>
            </div>
        </div>


    </div>
</section>


<section class="portfolio" id="portfolio">

    <h1 class="heading"> Offers <span>Services</span> </h1>

    <div class="box-container">

        <div class="box">
            <span>Sale</span>
            <img src="~/images/port-img1.jpg" alt="">
            <div class="content">
                <h3>web design</h3>
                <p>1st may, 2021</p>
                <a href="#" class="btn" style="text-align:center; width:150px">Order Now</a>
            </div>
        </div>


    </div>
</section>