@using CliectProject.Models;
@model  IEnumerable<Order>
@{ ViewBag.Title = "Index"; }

<h2>Index</h2>

<br />
<br />
<br />
<br />
<br />

<link href="~/css/Tabs.css" rel="stylesheet" />
<h1 class="heading"> <span>My Orders</span> </h1>
<br />
<br />
<br />
<br />
<br />
<br />

<div style="margin-left:300px">
    <div class="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
        <label for="tab1">Waiting for Payment</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
        <label for="tab2">Waiting for Admin</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
        <label for="tab3">Finish</label>

        <div class="tab-panels">
            <section id="marzen" class="tab-panel">
                @Html.Partial("WaitingStatus")
            </section>
            <section id="rauchbier" class="tab-panel">
                @Html.Partial("PindingForAdminStatus")
            </section>
            <section id="dunkles" class="tab-panel">
                @Html.Partial("FinishedStust")
            </section>
        </div>

    </div>
</div>










